.field-type-checkbox {
    height: auto;
    border: none;

    .field-content {
        max-width: 100%;

        label {
            gap: 8px;
            display: flex;
            align-items: center;
            position: relative;
            top: 0;
            width: max-content;
            max-width: 100%;
            transform: translateY(0);
            pointer-events: all;
        }

        input {
            display: none;

            &:checked ~ .checkmark {
                background-color: $primary;
                border-color: $primary;

                &::before {
                    content: '\e92e';
                    position: absolute;
                    font-family: 'liliana-icon' !important;
                    font-size: 18px;
                    color: $white;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

        .field-label {
            flex: auto;
            @include title-2(500);
            color: $primary;
        }

        .checkmark {
            flex: none;
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid $primary;
        }

    }

    &.some-checked {
        .field-content {
            .checkmark {
                background-color: $primary;
                border-color: $primary;

                &::before {
                    content: '';
                    position: absolute;
                    background-color: $white;
                    top: 50%;
                    left: 50%;
                    width: 12px;
                    height: 2px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    &.field--invalid {
        margin-bottom: 0;

        .field-content {

            input {
                &:checked ~ .checkmark {
                    background-color: $primary;
                    border-color: $primary;

                    &::before {
                        content: '\e92e';
                        position: absolute;
                        font-family: 'liliana-icon' !important;
                        font-size: 18px;
                        color: $white;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &:checked ~ .field-label,
                &:checked ~ .field-label a {
                    color: $success;
                }
            }

            .field-label,
            .field-label a {
                color: $danger;
            }

            .checkmark {
                border-color: $danger;
            }

        }

    }

}

.field-type-checkbox-2 {
    display: block;
    height: auto;
    border: none;

    .field-content {

        input {
            display: none;

            &:checked ~ .checkmark {
                background-color: $primary;

                &::before {
                    left: 18px;
                }

            }

        }

        label {
            gap: 8px;
            display: flex;
            align-items: center;
            position: relative;
            top: 0;
            transform: translateY(0);
            pointer-events: all;
        }

        .checkmark {
            position: relative;
            width: 36px;
            height: 20px;
            background-color: $primary-500;
            border-radius: 36px;
            transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                background-color: $white;
                border-radius: 100%;
                transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);
            }
        }

    }

}

.field-type-checkbox-model {
    display: block;
    height: auto;
    border: none;
    padding: 0;

    .field-content {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        label {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            line-height: 0;
            pointer-events: all;
            transform: translateY(0);
        }

        input {
            display: none;

            &:checked ~ .checkmark {
                gap: 0;
                opacity: 1;

                &::before {
                    content: '\e92e';
                    background-color: $white;
                }

                span {
                    width: 0;
                    opacity: 0;
                }
            }

            &:checked ~ .overlay {
                opacity: 1;
            }
        }

        &:hover {

            .overlay,
            .checkmark,
            .checkbox-actions{
                opacity: 1;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);
            opacity: 0;
            z-index: 1;
        }

        .checkbox-actions{
            gap: 8px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 24px;
            z-index: 2;
            opacity: 0;

            a,
            button {
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                text-decoration: none;

                i {
                    font-size: 24px;
                    color: $white;
                }

            }
        }

        .checkmark {
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            top: 24px;
            z-index: 2;
            transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);
            opacity: 0;

            &::before {
                content: '';
                flex: none;
                display: block;
                width: 20px;
                height: 20px;
                font-family: 'liliana-icon' !important;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                color: $primary;
                border-radius: 5px;
                border: 1px solid $white;
            }

            span {
                flex: none;
                @include title-2(400);
                color: $white;
                white-space: nowrap;
                overflow: hidden;
                width: 90px;
                opacity: 1;
                transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);

                &.field-label {
                    display: block;
                }

                &.model-name {
                    display: none;
                }

            }

        }

    }

    // responsive   576
    @media screen and (max-width: 576px) {

        .field-content {

            input {
                &:checked ~ .checkmark {
                    gap: 10px;

                    &::before {
                        background-color: $primary;
                        color: $white;
                    }

                    span {
                        width: auto;
                        opacity: 1;
                    }

                }
            }

            .overlay {
                display: none;
            }

            .checkmark {
                position: relative;
                justify-content: start;
                top: 0;
                opacity: 1;
                padding: 8px;
                margin-top: 4px;

                &::before {
                    border-color: $primary;
                }

                span {
                    width: auto;
                    font-weight: 500;
                    color: $primary;

                    &.field-label {
                        display: none;
                    }

                    &.model-name {
                        display: block;
                    }

                }

            }

            .checkbox-actions{
                gap: 0;
                opacity: 1;
                top: 10px;
                left: 0;
                right: 0;
                bottom: auto;
                margin: auto;
                width: max-content;
                border-radius: 99px;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 0 2px;

                a,
                button{
                    flex: 1;
                    width: 32px;
                    height: 32px;
                    padding:4px;
                    text-align: center;

                    i{
                        font-size: 20px;
                        line-height: 24px;
                    }

                }

            }

        }

    }

}

.deselect-all-checkbox{
    display: none;
}