.field {

    position: relative;
    gap: 8px;
    display: flex;
    align-items: stretch;
    height: 48px;
    border-bottom: 1px solid $primary-500;
    @include animation-1();
    @include padding-symmetry(16px, 0);

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 0 8px;
        font-size: 12px;
        font-weight: 500;
        transform: translateY(150%);
    }

    & > i {
        font-size: 24px;
        align-self: center;
        padding: 6px;

        &.no-padding{
            padding: 0;
        }

        &.field-show-password {
            position: relative;
            cursor: pointer;

            &.active::after {
                content: '';
                position: absolute;
                width: 70%;
                height: 3px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                border-top: 2px solid $primary;
                background-color: $primary-200;
            }
        }

        &.symbol{
            @include animation-1();
            margin-right: -4px;
        }

    }

    &.field--lv-label{
        & > i{
            &.symbol{
                transform: scale(0.8) translate(4px, 7px);
            }
        }
    }

    .field-event-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    .field-content {
        flex: auto;
        position: relative;

        label {
            position: absolute;
            top: 50%;
            @include title-2(500);
            color: $primary-800;
            transform: translateY(-50%);
            @include animation-1();
            pointer-events: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            z-index: 1;
        }

        input {
            flex: auto;
            width: 100%;
            border: none;
            outline: none;
            padding-top: 20px;
            @include title-1(500);
            @include animation-1();
            opacity: 0;

            &[type="range"] {
                opacity: 1;
            }

            &::placeholder {
                color: $primary-900;
            }
        }

    }

    &.field-type-text-area {
        height: auto;
        border: 1px solid $primary-500;
        padding: 12px;

        & > i {
            align-self: start;
        }

        .field-content {
            label {
                top: 0;
                transform: translateY(0);
            }

            textarea {
                flex: auto;
                width: 100%;
                resize: none;
                border: none;
                outline: none;
                @include title-1(500);
                padding-top: 10px;
            }
        }
    }

    &.fix-label {
        .field-content {
            input {
                height: 100%;
                padding: 8px 0;
            }
        }
    }

    &:hover,
    &.field--lv-focus {
        border-color: $primary;
    }

    &.field--lv-label:not(.field--lv-label-important) {
        .field-content {
            label {
                top: 0;
                font-size: 12px;
                transform: translateY(0);
            }

            input {
                opacity: 1;
            }
        }

        &.field-type-text-area {
            .field-content {
                label {
                    transform: translateY(-50%);
                }
            }
        }

        &.fix-label {
            .field-content {
                label {
                    top: 50%;
                    font-size: 14px;
                    transform: translateY(-50%);
                    opacity: 0;
                }

                input {
                    padding: 8px 0;
                }
            }
        }

    }

    // &.field--lv-label-important {}

    &.field--valid {
        border-color: $success;

        .field-protected:after,
        .field-protected:before{
            background-color: $success-4;
            color: $success-1;
        }

        .field-content {

            label,
            input::placeholder {
                color: $success;
            }
        }

    }

    &.field--invalid {
        border-color: $danger;
        margin-bottom: 24px;

        .field-protected:after,
        .field-protected:before{
            background-color: $danger-4;
            color: $danger-1;
        }

        &[data-required=true],
        &[data-required=false],
        &[data-required="structure"] {
            margin-bottom: 0;
        }

        &:before {
            content: attr(data-error-msg-mini);
            color: $danger;
        }

        .field-content {

            label,
            input::placeholder {
                color: $danger;
            }
        }

    }

}

.field-preview{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $primary-300;
    background-color: $primary-200;
    padding: 0 8px;

    .field-label{
        font-size:12px;
        font-weight: 500;
    }

    .field-value{
        gap: 8px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .flag{
        height: 18px;
    }

}

.field-required-star{
    display: inline-block;
    color: $danger-1;
    font-size: 18px;
    line-height: 18px;

    &.space-left{
        padding-left: 4px;
    }

}

.message-required-field{
    font-size: 16px;
    font-weight: 500;

    &.space-bottom{
        margin-bottom: 16px;
    }

    span{
        color: $danger-1;
        font-size: 18px;
        line-height: 18px;
        padding: 0 4px;
    }

}

.field-hint{
    font-size: 12px;
    line-height: 1.4;
    color: $primary-700;
    margin-top: 8px;

    &.bottom-space{
        margin: 0 0 8px 0;
    }

    &.no-space{
        margin: 0;
    }

}

.field-hint-box{
    flex: none;
    position: relative;
    width: 32px;
    height: 32px;
    background-color: $primary-300;
    border-radius: 99px;
    border: none;
    outline: none;
    vertical-align: middle;
    align-self: center;
    padding: 0;
    z-index: 12;

    i{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $primary;
        border-radius: 99px;
        background-color: inherit;
        line-height: 32px;
        font-size: 18px;
        z-index: 2;
    }

    &:after{
        content: attr(data-text);
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 100%;
        max-width: 400px;
        color: $primary;
        background-color: $primary-300;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
        z-index: -1;
        border-radius: 99px;
        transition: all 0.20s ease-in-out;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: 0;
    }

    &.box-mw-300{
        &:after {
            max-width: 300px;
        }
    }

    &.box-mw-200{
        &:after {
            max-width: 200px;
        }
    }

    &.box-mw-150{
        &:after {
            max-width: 150px;
        }
    }

    &.right:after{
        left: 0;
        right: auto;
    }

    &.align-self-start{
        align-self: start;
    }

    &.align-self-end{
        align-self: end;
    }

    &:hover{
        &:after{
            width: auto;
            opacity: 1;
            padding:0 38px 0 16px;
        }

        &.right{
            &:after {
                padding: 0 16px 0 38px;
            }
        }

    }

    @media screen and (max-width: 576px) {
        &.box-sm-mw-300{
            &:after {
                max-width: 300px;
            }
        }

        &.box-sm-mw-200{
            &:after {
                max-width: 200px;
            }
        }

        &.box-sm-mw-150{
            &:after {
                max-width: 150px;
            }
        }
    }

}