.field-type-radio,
.field-type-radio-2 {
    display: block;
    height: auto;
    border: none;

    .field-content {

        input {
            display: none;

            &:checked ~ .checkmark {
                background-color: $primary;
            }
        }

        label {
            gap: 8px;
            display: flex;
            align-items: center;
            position: relative;
            top: 0;
            transform: translateY(0);
            pointer-events: all;
        }

        .checkmark {
            flex: none;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 1px solid $primary;
            box-shadow: inset 0 0 0 4px $white;
            background-color: $white;
        }

    }

    &.field--invalid {

        input:checked ~ .checkmark {
            background-color: $danger;
        }

        .checkmark {
            border-color: $danger;
        }

    }

    &.field--valid {

        input:checked ~ .checkmark {
            background-color: $success;
        }

        .checkmark {
            border-color: $success;
        }

    }

}

.field-type-radio-2 {

    .field-content {
        position: relative;

        input {
            display: none;

            &:checked ~ .checkmark {
                background-color: $primary;
                box-shadow: inset 0 0 0 3px $primary-200;

                &::before {
                    background-color: $primary-200;
                    border-color: $primary;
                }

            }
        }

        label {
            gap: 12px;
            padding: 16px;
            color: $primary;
        }

        .checkmark {
            width: 14px;
            height: 14px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                border: 1px solid $primary-300;
                z-index: -1;
            }

        }

    }

    &.field--invalid {

        input:checked ~ .checkmark {
            background-color: $danger;
            box-shadow: inset 0 0 0 3px tint($danger, 95);

            &::before {
                background-color: tint($danger, 95);
                border-color: $danger;
            }

        }

        .checkmark {
            border-color: $danger;
            background-color: tint($danger, 95);

            &::before {
                background-color: tint($danger, 95);
                border: 1px solid $danger;
            }

        }

    }

    &.field--valid {

        input:checked ~ .checkmark {
            background-color: $success;
            box-shadow: inset 0 0 0 3px tint($success, 95);

            &::before {
                background-color: tint($success, 95);
                border-color: $success;
            }

        }

        .checkmark {
            border-color: $success;
            background-color: tint($success, 95);

            &::before {
                background-color: tint($success, 95);
                border: 1px solid $success;
            }

        }

    }

}