// variables
@import 'variables';
@import 'functions';
@import 'mixins';

// practical
@import 'fonts';

// style
@page {
    size: A4 landscape;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #e2e2e2;
}

body {
    width: 842px; // 297mm
    height: 595px; // 210mm
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.2;
    margin: auto;
    padding: 0 48px;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    transform: translateY(98px) scale(1.33333); // convert size to a4
}

#header {
    flex: none;
    display: flex;
    align-items: center;
    margin-top: 14px;

    #brand {
        flex: none;
        display: flex;
        flex-direction: column;

        img {
            height: 46px;
            margin-bottom: 4px;
        }

        span {
            font-size: 6px;
            line-height: 150%;
            letter-spacing: 0.72px;
            text-transform: uppercase;
        }

    }

    .profile-name {
        flex: auto;

        .name {
            gap: 8px;
            display: flex;
            align-items: center;
            font-family: 'TheSeasons', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 150%;
            text-transform: uppercase;
            color: #000000;
        }

        #profile_id {
            font-family: "Montserrat", sans-serif;
            font-size: 8px;
            font-weight: 500;
            line-height: 150%;
            padding: 2px 4px;
            text-transform: none;
            background-color: $primary-200;
        }

        .jp-name {
            font-size: 10px;
            line-height: 150%;
            color: $primary-800;
        }

        .profile-meta{
            gap: 12px;
            display: flex;
            align-items: center;

            .jp-name{
                flex: none;
            }

            .skill-tags{
                flex: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                span{
                    font-size:8px;
                }

            }

        }

    }

}

#footer {
    flex: none;
    margin: 6px 0 4px 0;

    .contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;

        .contacts-item {
            gap: 2px;
            flex: none;
            display: flex;
            font-size: 7px;
            line-height: 150%;

            .name {
                color: $primary-800;
            }

            .value {
                color: $primary;
            }

        }

    }

}

.vertical-divider {
    width: 1px;
    height: 8px;
    background-color: $primary-500;
}

.model-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;

    .meta-item {
        gap: 4px;
        flex: none;
        display: flex;
        font-size: 8px;
        line-height: 150%;

        .name {
            color: $primary-800;
        }

        .value {
            color: #000000;
            font-weight: 500;
        }

    }

}

.model-gallery {
    gap: 22px;
    flex: auto;
    display: flex;
    overflow: hidden;

    .model-base-image {
        flex: none;

        img{
            width: auto;
            height: 100%;
        }

    }

    .model-gallery-images {
        flex: auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-start: 1;
        grid-column-end: 2;
        column-gap: 9px;
        row-gap: 9px;

        img {
            width: 100%;
        }

    }

}