.accordion {

    .accordion-item {

        .accordion-header {
            position: relative;
            width: 100%;
            padding-right: 40px;
            padding-left: 16px;
            @include padding-y(32px);
            background-color: transparent;
            border: none;
            outline: none;

            i {
                position: absolute;
                font-size: 24px;
                right: 8px;
                top: 50%;
                color: $primary;
                transform: translateY(-50%);
                @include animation-1();
            }

            .accordion-title {
                display: block;
                @include title-1(500);
                color: $primary;
                text-align: left;
            }
        }

        &.active {
            .accordion-header {
                i {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

    }

    .accordion-content {
        display: none;
        overflow: hidden;
        padding: 16px;
    }

    @media screen and (max-width:576px) {
        .accordion-item {

            .accordion-header {
                padding: 10px 40px 10px 8px;

                .accordion-title {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }

        }

        .accordion-content {
            padding: 8px;
        }
    }

}