.news-card {

    position: relative;
    overflow: hidden;

    a {
        display: block;
        text-decoration: none;
    }

    .card-thumbnail {
        position: relative;
        padding-bottom: calc(.56 * 100%);
        overflow: hidden;

        img {
            position: absolute;
            @include layer-stretch();
            object-fit: cover;
            object-position: center;
            @include animation-1();
        }
    }

    &:hover {
        .card-thumbnail {
            img {
                transform: scale(1.2);
            }
        }
    }

    .card-content {
        margin-top: 12px;
    }

    .card-brand{
        float: left;
        font-size:12px;
        font-weight: 500;
        color: $primary-700;
        margin-bottom: 4px;
    }

    .card-title {
        @include title-1(500);
        margin: 0 0 4px 0;
    }

    .card-date,
    .card-author{
        gap: 4px;
        display: flex;
        align-items: center;
        font-size: 12px;
        float: left;
    }

    .card-author{
        font-weight: 500;
        color: $primary;
    }

    .card-date{
        color: $primary-600;
        margin-left: 8px;
    }

    .card-description{
        @include title-2();
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 42px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: 4px;
        float: left;
        width: 100%;
    }

    .card-category {
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        clear: both;
        padding-top: 8px;

        a {
            @include title-3();
            color: $primary-800;

            &:not(:last-child):after{
                content: '•';
                margin-left: 8px;
            }

        }
    }

}