.special-news-card {

    .card-content {
        position: relative;
        padding-bottom: calc(1 * 100%);
        border-radius: 100%;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

    .card-inner-content {
        position: absolute;
        @include title-1(500);
        text-align: center;
        color: $white;
        bottom: 0;
        padding: 16px 12% 32px 12%;
        backdrop-filter: blur(20px);
        z-index: 2;
        margin: 0;
    }

    // responsive   576
    @media screen and (max-width: 576px) {

        .card-inner-content {
            font-size: 12px;
            padding: 16px 12% 20px 12%;
        }

    }

}