.wheel-picker {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 48px;
        border-style: solid;
        border-color: $primary-500;
        border-width: 1px 0 1px 0;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .wheel-wrapper {
        &:not(.is-move) {
            transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);
        }
    }

    .wheel-item {
        @include title-1(500);
        text-align: center;
        color: $primary-400;
        cursor: pointer;
        transition: all 0.15s cubic-bezier(0.36, 0.04, 0.44, 0.99);

        &.active {
            color: $primary;
        }

    }

}